<%= form_for @brew do |f| %>
  <%= render 'shared/errors', object: @brew %>
  <fieldset>
    <div>
      <%= f.label :product_id %>
      <%= f.select :product_id, Product.all.map {|p| [p.name, p.id]} %>
    </div>
    <div>
      <%= f.label :quantity_full %>
      <%= f.number_field(:quantity_full, in: 0.0..100.0, step: 1.0) %>
    </div>
    <div>
      <%= f.label :quantity_sample %>
      <%= f.number_field(:quantity_sample, in: 0.0..100.0, step: 1.0) %>
    </div>
    <div>
      <%= f.label :date %>
      <%= f.datetime_field :date %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div class="actions">
      <%= f.submit class: "btn" %>
    </div>
  </fieldset>
<% end %>
