<h1>brew <%= @brew.id %></h1>

<p>
  <strong>product:</strong>
  <%= @brew.product.name %>
</p>
<p>
  <strong>quantity Full:</strong>
  <%= @brew.quantity_full %>
</p>
<p>
  <strong>quantity Sample:</strong>
  <%= @brew.quantity_sample %>
</p>
<p>
  <strong>Date:</strong>
  <%= get_date(@brew.date) %>
</p>
<p>
  <strong>Comments:</strong>
  <%= @brew.description %>
</p>

<p><%= link_to('Edit Brew', edit_brew_path(@brew), class: "btn") %></p>
<p><%= link_to('All Brews', brews_path, class: "btn") %></p>
