<%= form_for @sale do |f| %>
  <%= render 'shared/errors', object: @sale %>
  <fieldset>
    <div class="field form-group">
      <%= f.label :product_id %>
      <%= f.select :product_id, Product.all.map {|p| [p.name, p.id]} %>
    </div>
    <div class="field form-group">
      <%= f.label :amount %>
      <%= f.number_field(:amount, in: 1.0..100.0, step: 1.0) %>
    </div>
    <div class="field form-group">
      <%= f.label :date %>
      <%= f.datetime_field :date %>
    </div>
    <div class="field form-group">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
