<h1>Sale <%= @sale.id %></h1>

<p>
  <strong>product:</strong>
  <%= @sale.product.name %>
</p>
<p>
  <strong>quantity full:</strong>
  <%= @sale.quantity_full %>
</p>
<p>
  <strong>quantity same:</strong>
  <%= @sale.quantity_sample %>
</p>
<p>
  <strong>amount:</strong>
  <%= @sale.amount %>
</p>
<p>
  <strong>Date:</strong>
  <%= get_date(@sale.date) %>
</p>
<p>
  <strong>Comments:</strong>
  <%= @sale.description %>
</p>

<p><%= link_to('Edit Sale', edit_sale_path(@sale), class: "btn") %></p>
<p><%= link_to('All Sales', sales_path, class: "btn") %></p>
